@import 'home.scss';
@import 'footer.scss';
@import 'accordian.scss';
@import 'navbar.scss';





@import 'media.scss';


*{
    margin: 0;
    padding: 0;
    background-color:black;
    color:white;
    font-family:sans-serif;
}