
section{

    .component{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height:70vh;
        width:100%;
        border-bottom:8px solid #222;
        padding:0px 2rem;
        h1{
            font-size:50px;
            text-align: center;
            margin-bottom: 12px;
        }
        h2{
            font-size:25px;
            font-weight: 300;
            text-align: center;
        }
        &:nth-child(2){
            flex-direction: row-reverse;
        }

        .text{
            width:50%;
            margin-bottom: 30px;
        }
        img{
            width:50%;
            height:70%;
          object-fit: contain;
        }
    }


}