@import 'home.scss';
@import 'footer.scss';
@import 'accordian.scss';
@import 'navbar.scss';
@import 'mainHome.scss';
@import 'banner.scss';
@import 'row.scss';




@import 'media.scss';


*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
   
}