@import "home.scss";
@import "footer.scss";
@import "accordian.scss";
@import "navbar.scss";
@import "mainHome.scss";
@import "banner.scss";
@import "row.scss";
@import "loginscreen.scss";
@import "profilescreen.scss";
// @import "movieDetails.scss";
@import "sidebar.scss";
@import "media.scss";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1,
p,
h2,
h3 {
  background-color: transparent;
}
// *::-webkit-scrollbar {
//   width: 15px;
//   border-radius: 12px;
//   height: 15px;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, 0.5);
//   border-radius: 12px;
// }

// *::-webkit-scrollbar-thumb:hover {
//   background-color: rgba(0, 0, 0, 0.7);
// }

// *::-webkit-scrollbar-track {
//   background-color: rgba(67, 67, 67, 0.62);
// }

// *::-webkit-scrollbar-track:hover {
//   background-color: rgba(67, 67, 67, 0.62);
// }
