
@media only screen and (max-width:1000px){
    section{
        .component{
            flex-direction: column;
            margin:50px 0; 
            height:auto;
            overflow: hidden;

            &:nth-child(2){
                flex-direction: column;
                >img{
                    width:30%;
                    height: 50%;
                }
            }
            &:last-child{
                margin-bottom:0;
            }
            .text{
                width:100%;
                padding:0 45px;
            }
            img{
                width: 80%;
            }
        }
    }
 
    
}

@media  (max-width:600px){
    section{
    .component{
        flex-direction: column;
        h1{
            font-size: 35px;
        }
        h2{
            font-size:18px;
        }
    }
}
}

@media only screen and (max-width:800px) {
    .footer{
        display: flex;
        max-width:1000px;
        flex-direction: column;
        padding:70px 50px;
        margin-top:0px;
        margin-right:0px;
        >p{
            font-size:18px;
            margin-bottom:25px;
            color:rgb(90, 89, 89);
        }    
        .row{
           display:grid;
           grid-template-columns: auto auto;
        }
    }
   
    .accordian{
        h1{
            font-size:2.5rem;
        }
        .accord{
            .accordian-button{
                width:100vw;
                >p{
                    font-size:1.2rem;
                }
                .plus{
                    font-size:1.6rem;
                    background-color: #333333;
                    width:25px;
                    height:25px;
                }
            }
            .accordian-body{
                width:100vw;            
                font-size:1.2rem;
    
            }
        }

        .input-submit{
            gap:20px;
            flex-direction: column;

            >input{
                width:70vw;
            }
            >button{
                width:30vw;
            }
        }
    }

    .navbar{
        .navi-body{

            h1{
                font-size:35px;
            }
            .input-submit{
                gap:20px;
                flex-direction: column;
        
                >input{
                    width:70vw;
                }
                >button{
                    width:30vw;
                    p{
                        font-size:1.4rem;
                    }
                }
            }
        }
    } 
}


@media (max-width:600px){
    .navbar{
        .navi{
            padding:1rem 1rem;
        }

        .navi-body{

            h2{
                font-size:1.2rem;
            }
            p{
                font-size:1rem;
            }
            .input-submit{
                gap:20px;
                flex-direction: column;

                >input{
                    width:70vw;
                }
                >button{
                    width:30vw;
                    >p{
                        font-size:1rem;
                    }
                }
            }
        }
    }

    .signInScreen{
        height:60vh;
        .logo{
            padding:10px 15px;
            >img{
            width:100px;
            }
        }
        .signInForm{
            border-radius: 0;
            width:100vw;
            left:0;

            input{
                padding:10px;
                width:80vw;
                font-size:1rem;
                outline:none;
                border:none;
                border-radius:6px;
            }
        }
    }

    .banner{
        width: 100vw;
        height:50vh;
        .banner_contents{
            margin-left:30px;
            padding-top:140px;
    
            .banner_title{
                font-size:2rem;
                font-weight:500;
                padding-bottom: 0.3rem;
            }

            .banner_buttons{
                button{
                    width:100px;
                }
            }
        }
    }
    .row{
        .title{
            margin-bottom:0;
            margin-top:10px;
        }
        .cards{
            .card{
                margin-left:1px;
                margin-right:1px;
                margin-top:1rem;
                .title{
                    font-size:12px;
                    font-weight: lighter;
                    color:gray;
                }
                img{
                    height:150px;
                    margin-right: 10px;
                }

                .row_posterLarge{
                    height:200px;
                    width:130px;
                }

                .other-details{
                    display: none;
                }
            }
        }
    }
    .nav{
        width:100vw;
        height:8vh;
        .nav_content{
            .nav_logo{
                width:120px;
            }
            
            .nav_avatar{
                width:35px;
                height:35px;
                object-fit: contain;
            }
        }
    }

    .profileScreen{
        height:90vh;
        width:100vw;
        .profileScreen_body{
            padding-top:25%;

            h1{
                font-size:2.5rem;
            }
        }
        .profileScreen_info{
            flex-direction: column;
            align-items: center;

            button{
                height:55px;
            }
        }
    }

    .home{
        .navbar{
            .navi{
                img{
                    width:100px;
                }
                button{
                    font-size:1.1rem;
                    width:90px;
                    height:33px;
                }
            }
            .navi-body{
                .input-submit{
                    margin-top:20px;
                    button{
                        border-radius: 8px;
                        width:180px;
                        padding:10px 10px;
                    }
                }
            }
        }
    }

    .accordian{
        .input-submit{
            margin-top:20px;
            button{
                border-radius: 8px;
                font-size: 1.2rem;
                width:200px;
            }
        }
    }

}

