.row {
  color: white;
  // padding: 0 2rem;
  .title {
    margin: 3rem 0;
    margin-bottom: 1.5rem;
    h2 {
      font-weight: lighter;
      color: rgb(96, 94, 94);
    }
    .hr {
      height: 2px;
      width: 100px;
      background-color: rgb(96, 94, 94);
    }
  }
  .cards {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: transform 450ms;
    .row_posterLarge {
      height: 400px;
      width: 12rem;

      border-radius: 12px;
      object-fit: cover;

      margin-right: 20px;
    }
    .row_poster {
      height: 300px;
      // margin: 2rem 0.2rem;
      width: 10rem;
      margin-right: 20px;
      // object-fit: scale-down;
      cursor: pointer;
      width: 20rem;
      margin-right: 20px;
      // background-size: contain;
      border-radius: 12px;
      // object-fit: cover;
    }
    .card {
      .hor {
        height: 200px;
        border-radius: 12px;
        margin: 5px 0;
        &:hover {
          transform: scale(1.03);
          opacity: 1;
        }
      }
      .ver {
        margin: 5px 0;
        height: 300px;
        border-radius: 12px;
        &:hover {
          transform: scale(1.02);
          opacity: 1;
        }
      }
      .title {
        margin: 10px 0px;
        color: rgb(126, 125, 125);
      }
      .other-details {
        margin-top: 10px;
        width: 100%;
        padding: 0 20px 0 5px;
        display: flex;
        justify-content: space-between;
        color: rgb(80, 79, 79);
        font-size: 0.8rem;
        .year {
          border: 0.09rem solid rgb(80, 79, 79);
          border-radius: 4px;
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
